@media(max-width:75em){
    html{
        font-size: 50%;
    }
    .section-2{
        height: auto;
        padding: 10rem 2rem;
    }
    .card{
        margin-top: 8rem;
    }
    .gallery-link{
        width: 40rem;
        height: 30rem;
    }
    .gallery-img{
        width: 100%;
        height: 100%;
    }
.footer{
    height:40rem;
}

    .signup-btn{
        width: 10rem;
    }

    
}

@media (max-width:64rem){

    html{
        font-size: 40%;
    }

    .section-1{
        height: 70vh;
    }

    .section-1-icons i{
        font-size: 25rem;

    }

    .gallery-link{
        width: 35rem;
        height: 25rem;
        margin: 4rem 5rem;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 40rem;

    }
    .footer-text-contianer{
        margin:5rem 0;
    }
}

@media (max-width:768px){

    .section-1{
        height: 90vh;
    }
    .gallery-link{
        width: 35rem;
        height: 25rem;
        margin: 3rem 2rem;
    }

    .gallery-img{
        width: 90%;
        height: 90%;
    }
}

@media(max-width:600px){
    .cards-container{
        flex-wrap: wrap;
    }
}

@media (max-width:480px){
    html{
        font-size: 30%;
    }

    .section-heading{
        font-size: 6rem;
    }

    .cards-container{
        flex-wrap: wrap;
        
    }
    .gallery-link{
        width: 60%;
        height: 50%;
    }

    .footer{
        height: 40rem;
        flex-direction: column;
    }

    form{
        margin-bottom: 10rem;
    }

    .signup-btn{
        width: auto;
        padding: 0 3rem;
        
    }
}

@media (max-width:320px){

    html{
        font-size: 25%;
    }
    .section-1{
        height: 70vh;
    }



    .cards-container{
        flex-direction: column;
        align-items: center;
    }

    .gallery{
        flex-direction: column;
    }
    .gallery-link{
        width: 80%;
        height: 100%;
        margin-bottom: 10rem;
        align-items: center;
    }
    .footer{
        align-items: flex-start;
        padding: 4rem;
        height: 30vh;
    }

    .footer-text-heading{
        font-size: 4rem;
    }
    .footer-text-para{
        font-size: 2rem;
    }
}